@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased
  }
  html {
    @apply h-screen
  }
  body {
    @apply bg-background h-full
  }
}

:root{
  --background: hsla(0, 0%, 0%, 0.03);
  --accent: hsla(0, 0%, 0%, 0.62);
  --alpha: hsla(0, 0%, 0%, 0.03);
  --accentHover: hsla(0, 0%, 0%, 0.73);
}
